<!-- Education -->
<article id="education">
    <h1 class="major">Education</h1>
    <p>GPA: 3.85/4.0</p>
    <p>Honors: Provost's Honor Roll 6 of 8 Semesters and Dean's List all semesters. President's Scholar. Expecting Cum Laude Latin Honor.</p>
    <p>Graduated December 2022</p>
    <table>
        <tr>
            <th>Institution</th>
            <th>Courses Taken</th>
        </tr>
        <tr>
            <td>University of Miami</td>
            <td>Computer Programming I &#38; II (Java)</td>
        </tr>
        <tr>
            <td></td>
            <td>Intro Probability and Statistics</td>
        </tr>
        <tr>
            <td></td>
            <td>Problem Solving Bioinformatics (PERL)</td>
        </tr>
        <tr>
            <td></td>
            <td>Discrete Math</td>
        </tr>
        <tr>
            <td></td>
            <td>Computer Organization and Architecture</td>
        </tr>
        <tr>
            <td></td>
            <td>Data Structures and Algorithm Analysis</td>
        </tr>
        <tr>
            <td></td>
            <td>Intro to Linear Algebra</td>
        </tr>
        <tr>
            <td></td>
            <td>Computing for Scientists (Phaser, R, Python)</td>
        </tr>
        <tr>
            <td></td>
            <td>System Programming (C &#38; UNIX)</td>
        </tr>
        <tr>
            <td></td>
            <td>Calculus III</td>
        </tr>
        <tr>
            <td></td>
            <td>Intro to Machine Learning</td>
        </tr>
        <tr>
            <td></td>
            <td>Intro to Software Engineering</td>
        </tr>
        <tr>
            <td></td>
            <td>Theory of Computing</td>
        </tr>
        <tr>
            <td></td>
            <td>Database Systems</td>
        </tr>
        <tr>
            <td></td>
            <td>Algorithm Design & Analysis</td>
        </tr>
        <tr>
            <td>Summer Skills Advantage Series</td>
            <td>100+ hours of training on Code Academy in HTML, CSS,Python, JavaScript, and Java</td>
        </tr>
    </table>
</article>

<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <h4>
            <a routerLink="/contact"> Connect with Me!</a>
        </h4>
    </div>
</footer>