	<!-- About -->
    <article id="about">
        <div class="content">
            <h1>About Me</h1>
            <div class="inner">
                <p>I am currently employed at Financial Information Technologies LLC, aka "Fintech" as a Technical Product Owner. I have been with the company since March 2023 and have quickly become confident in my Data Engineering skills.</p>
                <p>I oversee collect, ingest, process, harmonize and publish across our data platform. This includes over 150 data collection points spanning depletion, shipment, inventory and invoice datatsets.</p>
                <p>I am a Fall 2022 graduate from the University of Miami with a Bachelors of Science in Computer Science on the Data Science Track and a minor in Mathematics.</p>
                <p>In 2021 and 2022 I worked as a Software Engineering summer intern at Thermo Fisher Scientific. This was a tremendous experience for me to gain first hand exposure to industry software development and apply my learnings from school to real world problems.</p>
                <p>At the University of Miami I was involved in the Inter Fraternity Council as Vice President of Recruitment.</p>
                <p>I also have experience as an AP Computer Science A Tutor in Java, and was an active member in my schools Data Analytics Student Association and Canes Fight Cancer Club.</p>
                <p>Some of the things I enjoy outside work are collecting records, lifting, cooking, soccer, golf, skiing, traveling, and spending time with family and friends.</p>
                <div class="photos">
                    <div class="pic">
                        <img src="assets/Family.JPG" alt="Family" heights=600 width=600/>
                    </div>
                    <div class="pic">
                        <img src="assets/Golf.JPG" alt="Tough Mudder" heights=600 width=600/>
                    </div>
                    <div class="pic">
                        <img src="assets/Ski.JPG" alt="Ski" heights=600 width=600/>
                    </div>
                </div>
            </div>
        </div>
    </article>

<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <h4>
            Check out my previous<a routerLink="/work"> work</a>
        </h4>
    </div>
</footer>