	<!-- About -->
    <article id="about">
        <div class="content">
            <h1>About Me</h1>
            <div class="inner">
                <p>I am currently employed at InfoSource, a sub division of Fintech as a Data Processing Architect. I have been with the company since March 2023 and have quickly become confident in ELT and data processsing.</p>
                <p>I am a Fall 2022 graduate from the University of Miami with a Bachelors of Science in Computer Science on the Data Science Track and a minor in Mathematics.</p>
                <p>In 2021 and 2022 I worked as a Software Engineering summer intern at Thermo Fisher Scientific. This was a tremendous experience for me to gain first hand exposure to industry software development and apply my learnings from school to real world problems.</p>
                <p>I am a member of Pi Kappa Phi and am involved in my school's Inter Fraternity Council as Vice President of Recruitment.</p>
                <p>I also have experience as an AP Computer Science A Tutor in Java, and was an active member in my schools Data Analytics Student Association and  Canes Fight Cancer Club.</p>
                <p>Some of the things I enjoy outside work are music, lifting, cooking, soccer, golf, skiing, traveling, and spending time with family and friends.</p>
                <div class="photos">
                    <div class="pic">
                        <img src="/docs/assets/Family.JPG" alt="Family" heights=600 width=600/>
                    </div>
                    <div class="pic">
                        <img src="/docs/assets/Golf.JPG" alt="Golf" heights=600 width=600/>
                    </div>
                    <div class="pic">
                        <img src="/docs/assets/Ski.JPG" alt="Ski" heights=600 width=600/>
                    </div>
                </div>
            </div>
        </div>
    </article>

<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <h4>
            Check out my previous<a routerLink="/work"> work</a>
        </h4>
    </div>
</footer>