<!-- Work -->
<article id="work">
    <h1 class="major">Work</h1>
    <h4>Data Process Architect at Fintech</h4>
    <blockquote>I was promoted to be my team's Data Process Architect in January 2024. Main responsibilities include owning data managemnt and governance of our processing streams. I also lead our Agile development which was first adopted in January when I received this promotion.</blockquote>
    <h4>Data Processing Engineer at Fintech</h4>
    <blockquote>Created and maintained ELT pipelines using Airflow DAGS, Python Scripts, MSSQL Server, and Snowflake. Worked on documenting current processing through Lucidchart and DataHub lineage diagrams.</blockquote>
    <h4>Thermo Fisher Scientific Software Engineering Intern</h4>
    <blockquote>In my previous internship at Thermo Fisher Scientific, I was placed on a team that was in charge of developing an application to manage lab workflows. My work involved implemening unit and integration tests in IntelliJ IDEA to address SonarQube bugs and code quality issues. My responsibilities included using clean code practices to make the repository more readable and simplify complex problems. I utilized Git version control to collaborate with my teammates to ensure the code met industry standards through pull requests, testing, and documentation. My most recent term this past summer, I was tasked with the teams Post Remediation Effort to ensure the backend repositories were in compliance with their new SDLC guidelines. I also got to take trainings in frontend development tools such as Angular, TypeScript, and JavaScript.</blockquote>
    <h4>Computing for Scientists Teaching Assistant</h4>
    <blockquote>Helped professor facilitate weekly help sessions, teaching and explaining technical material in Phaser, R, and Python to students. Conduct adminsitrative work through grading weekly assignments and provide timely critiques on coding methods and techniques. 
    </blockquote>
    <h4>REMAX Real Estate Director of Public Relations</h4>
    <blockquote>Responsible for Fairfield County Real Estate agent's customer relationship management and personalized marketing. Execute lead generation initiatives for direct and electronic mailing campaigns.
    </blockquote>
</article>

<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <h4>
            Go to my <a routerLink="/education"> education</a>
        </h4>
    </div>
</footer>