body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #010000;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: gray;
    height: 1000px;
}

.content{
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
}

.inner{
    position: absolute;
    text-align: center;
    top: 70px;
    width: 100%;
}

.pic{
    float:left;
}

.photos{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    position: relative;
    top: 40px
}

.headshot{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 50%;
}

.text{
    left: 0;
    position: absolute;
    text-align: center;
    bottom: -90px;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

a:hover{
    color: #ff1755
}

a,
a:hover{
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #010000;
    top: 20px;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #010000;
    margin: 0 0 20px 0;
    padding: 0;
    position: absolute;
    text-align: center;
}
.aboutme{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #010000;
    top: 20px;
    text-align: center;
}

.about{
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
    padding: 0;
    top: 100px;
}

header{
    display: block;
    width: 100%;
    height: 150px;
    position: relative;
}

.nav {
    background: black;
    overflow: hidden;
    align-items: center;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#010000;
    align-items: center;
}

.nav-item{
    float: left;
    list-style: none;
    display: inline;
    align-items: center;
    border-right: 1px solid white;
}

.nav-item a{
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 14px;
    font-size: 17;

}

.nav-item a:hover{
    color: #ff1755;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav-item:last-child{
    margin-right: auto;
    border-right: none;
}

#container .main {
    display: block;
    width: 100%;
    margin: 35px;
    padding: 0 10px;
}

.table, th, td{
    border: 2px solid;
}

.footer{
    left: 0;
    position: fixed;
    padding: 10px 10px 10px 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 40px;
}