<!-- Header -->
<header id="header">
    <div class="content">
        <h1>Welcome to Nolan McCarter's Website!</h1>
        <div class="inner">
            <p>Use the navigation bar to read about me, my work, education, and how to get in touch with me.</p>
            <div class="headshot"><img src="../../../docs/assets/headshot.JPG" alt="Headshot"> </div>
                <div class="text">
                    <p>Software Engineer | Data Scientist | Computer Science Graduate at Tshe University of Miami</p>
                    <p>Currently seeking full time Software Engineering or Data Science Role</p>
                </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <h4>
            Here is the link to my resume:  
            <a href="../../../docs/assets/Nolan_McCarter_Resume.pdf">click here.</a>
        </h4>
    </div>
</footer>